/* import Work Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Make class for Work Sans font family */

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* max-container */
.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* shared styles */
/* text color */
.text-color-primary {
  color: #131313;
}

.text-color-secondary {
  color: #424242;
}

.text-color-tertiary {
  color: #727272;
}

/* background color */
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

/* display-flex */
.display-flex {
  display: flex;
}

/* button styles */
.btn-primary {
  background-color: #FF900E;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

/* header styles */
header {
  padding: 3rem 0;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-size: 2.8rem;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  gap: 4rem;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

/* banner styles */
.banner-content {
  max-width: 54rem;
  /* border: 1px solid; */
  text-align: center;
  margin: 6.3rem auto 3.1rem;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.banner-desc {
  margin-bottom: 2rem;
}

.banner-img {
  max-width: 100%;
}

/* Responsive media query */
/* small devices */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }

  .nav-links {
    align-items: center;
    gap: 1rem;
  }

  .banner-content {
    margin: 1rem auto;
    padding: 0.5rem;
  }
}
