/* import Work Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Make class for Work Sans font family */

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* max-container */
.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* shared styles */
/* text color */
.text-color-primary {
  color: #131313;
}

.text-color-secondary {
  color: #424242;
}

.text-color-tertiary {
  color: #727272;
}

/* background color */
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

/* display-flex */
.display-flex {
  display: flex;
}

/* header styles */
header {
  padding: 3rem 0;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
}

.brand-title {
  font-size: 2.8rem;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  gap: 4rem;
  align-items: center;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}
